.file-explorer-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1e1e1e; 
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

h3 {
   font-size: 15px;
}

.file-explorer-body {
    display: flex;
    flex-grow: 1;
}

.file-explorer-header {
    font-size: 18px;
    font-weight:normal;
    background-color: #252526;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--accent-color);  
}

.file-explorer-sidebar {
    width: auto;
    min-width: 250px;
    background-color: #252526;
    padding: 10px;
    overflow-y: auto;
    transition: width 0.2s ease-in-out;
    border-right: 2px solid var(--accent-color);  
    box-shadow: 2px 0 5px rgba(255, 69, 0, 0.2); 
}

.code-editor {
    flex-grow: 1;
    padding: 5px;
    width: 50%;
    background-color: #2d2d30;
    border-left: 1px solid #444; 
}

.resizer {
    width: 5px;
    background: #555;
    cursor: ew-resize;
    position: relative;
    transition: background 0.2s;
}

.resizer:hover {
    background: var(--accent-color);  
    width: 7px;
}


.control-panel {
    width: 45px;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
    border-left: 2px solid var(--accent-color);
    box-shadow: -2px 0 5px rgba(255, 69, 0, 0.2);
}

.control-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.control-btn:hover {
    background-color: var(--accent-color);
}

.control-btn-selected{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    background-color: var(--accent-color);
}

.control-btn .material-icons {
    font-size: 24px;
    color: #fff;
}


.terminal-box {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    border-left: 2px solid var(--accent-color);
    width: 30%;
    overflow-y: auto;
}
