.my-code-editor {
    height: calc(100vh - 85px);
}

.editor-container {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
}
  
  .editor-header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #333;
  }
  